apiVersion: apps/v1 
kind: Deployment    #Controller
metadata:
  name: nginx-deployment
  labels:
    app: nginx
    objecttype: deploy 
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      name: nginx-pod 
      labels:
        app: nginx
        objecttype: pod
    spec:
      containers:
        - name: nginx-main 
          image: nginx:1.28.0
          ports:
            - containerPort: 80
---
apiVersion: v1 
kind: Service   #34.118.238.127
metadata:
  name: nginx-deployment-service 
  labels: 
    app: nginx
spec:
  type: ClusterIP
  selector: 
    app: nginx
  ports:
  - port: 80
    targetPort: 80